body{
	background-color: black;
	background-size: 100% 100%;
	font-family: 'Architect Daughter', cursive;
	font-size: 45px;
	font-weight: bolder;
}
div{
	font-family: 'Architect Daughter', cursive;
}


section{
	margin-top: 200px;
    color: white;
    font-size: 30px;
    
}
.vs{
	padding-top: 60px;
	font-size: 45px;
	font-weight: bolder; 
}
.heading{
	padding-top: 250px;
	font-size: x-large;
}
.footer{
	color: white;
	margin-top: 100px;
}
.challenger{
	color: orange;
	font-size: 45px;
	font-weight: bolder;
}

@media (max-width: 1028px){
	 section{
		padding-top: 300px;
		
	}
	#winner, #loser, #draw{
		padding-top: 300px;
		font-size: 45px;
	}
}
p{
	color: white;
	font-size: 45px;
}

input{
	
	border-radius: 8px;
	border:1px solid blue;
	font-size: 50px;
	width: 550px;
	height: 100px;

}